/* ==============================
CUSTOM NORMALIZE
 ================================ */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
optgroup,
select,
textarea {
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  font-family: inherit;
  color: inherit;
  letter-spacing: inherit;
}

button,
input {
  overflow: visible;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: none;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

[type="search"] {
  outline: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

textarea {
  resize: none;
  overflow-y: auto;
  overflow-x: hidden;
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

legend {
  display: block;
  padding: 0;
  white-space: normal;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

::-moz-placeholder {
  color: inherit;
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

:-moz-placeholder {
  color: inherit;
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

:-ms-input-placeholder {
  color: inherit;
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

:focus::-webkit-input-placeholder {
  opacity: 0;
}

:focus::-moz-placeholder {
  opacity: 0;
}

:focus:-moz-placeholder {
  opacity: 0;
}

:focus:-ms-input-placeholder {
  opacity: 0;
}

label,
button,
input,
select {
  cursor: pointer;
}

svg {
  fill: currentColor;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

:disabled,
.disabled {
  cursor: not-allowed;
}

::-moz-selection {
  color: #fff;
  background-color: #004fe4;
}

::selection {
  color: #fff;
  background-color: #004fe4;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ==============================
PROJECT BODY STYLES
 ================================ */
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #000000;
  font-weight: 400;
  background: #f2f2f2;
  text-transform: uppercase;
}

.container {
  max-width: 1056px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.page {
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  position: relative;
}

.general-head {
  font-weight: 700;
  font-size: 21px;
}

.jq-stars {
  display: inline-block;
}

.jq-rating-label {
  font-size: 22px;
  display: inline-block;
  position: relative;
  vertical-align: top;
  font-family: helvetica, arial, verdana;
}

.jq-star {
  width: 100px;
  height: 100px;
  display: inline-block;
  cursor: pointer;
}

.jq-star-svg {
  padding-left: 3px;
  width: 100%;
  height: 100%;
}

.jq-star-svg path {
  /* stroke: #000; */
  stroke-linejoin: round;
}

/* un-used */
.jq-shadow {
  -webkit-filter: drop-shadow(-2px -2px 2px #888);
  filter: drop-shadow(-2px -2px 2px #888);
}

.header {
  position: relative;
}

.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .header .logo--mobile {
    display: none;
  }
}

.header .logo--mobile img {
  width: 85px;
}

@media (min-width: 320px) {
  .header .logo--mobile img {
    width: calc(11.85682vw + 47.05817px);
  }
}

@media (min-width: 767px) {
  .header .logo--mobile img {
    width: 138px;
  }
}

.header .burger {
  display: block;
}

@media (min-width: 768px) {
  .header .burger {
    display: none;
  }
}

.header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 326px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .menu__link {
  text-transform: uppercase;
  font-weight: 700;
}

@media (min-width: 768px) {
  .header .logo--desktop {
    position: relative;
    top: 7px;
    width: 138px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

.header__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
}

@media (min-width: 768px) {
  .header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: static;
    max-height: 56px;
  }
}

.footer {
  background-color: rgba(255, 255, 255, 0.9);
  padding-top: 23px;
  padding-bottom: 36px;
}

.footer-index {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  padding-top: 23px;
  padding-bottom: 36px;
}

@media (min-width: 768px) {
  .footer-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

.footer-contacts {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .footer-contacts {
    margin-bottom: 0;
  }
}

.footer-contacts__link {
  display: block;
  font-weight: 700;
}

.footer-contacts__link:nth-child(1) {
  margin-bottom: 10px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 150px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .social {
    margin: 0;
  }
}

.social__link {
  background: #81b3d2;
  width: 46px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__link:hover, .social__link:focus {
  background: #669ec0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.social__link:active {
  background: #5496bd;
}

.social__link:active path {
  opacity: 0.3;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.copyright {
  margin: auto;
  font-size: 14px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .copyright {
    margin: 0;
  }
}

.copyright__image {
  margin-left: 8px;
}

.intro {
  padding: 77px 10px 80px;
  background: url("../images/intro/background.jpg") no-repeat center/cover;
  text-align: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 57px;
  background: url("../images/intro/Shape.svg") no-repeat center;
}

.logo--desktop {
  z-index: 10;
}

.features {
  text-align: center;
  padding-top: 42px;
}

.features__head {
  font-size: 21px;
  line-height: 26px;
  max-width: 470px;
  width: 100%;
  margin: auto;
  font-weight: 700;
  margin-bottom: 15px;
}

.features__text {
  max-width: 519px;
  width: 100%;
  margin: auto;
  margin-bottom: 51px;
  line-height: 26px;
}

.features-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 768px) {
  .features-grid {
    display: block;
  }
}

.features-block {
  padding-top: 50px;
  padding-bottom: 54px;
}

.features-block--blue {
  background: #81b3d2;
  color: #fff;
}

.features-block__head {
  margin-bottom: 25px;
}

.features-block__number {
  margin-bottom: 23px;
}

.features-block__text {
  max-width: 300px;
  width: 100%;
  margin: auto;
}

.features-block--icon .features-block__text {
  margin-bottom: 80px;
}

.features-block--grey {
  background: #eeeeee;
}

.features-image {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 768px) {
  .features-image {
    height: auto;
    -o-object-fit: unset;
       object-fit: unset;
  }
}

.features-image--right {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
}

.features-image--left {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.booking {
  text-align: center;
  padding-top: 58px;
}

.booking__inner {
  position: relative;
  max-width: 568px;
  margin: auto;
  width: 100%;
  overflow: hidden;
}

.booking__head {
  margin-bottom: 25px;
}

.booking__text {
  margin: auto;
  max-width: 435px;
  width: 100%;
  margin-bottom: 25px;
}

.booking__btn {
  display: block;
  margin: auto;
  max-width: 568px;
  padding: 30px;
  background: #766357;
  color: #fff;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  cursor: pointer;
}

.booking-form {
  position: absolute;
  top: 195px;
  left: 0;
  max-width: 568px;
  width: 100%;
  margin: auto;
  padding: 55px;
  background-color: #fff;
  -webkit-box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
          box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
  z-index: 10;
  display: none;
}

@media (max-width: 576px) {
  .booking-form {
    padding: 25px;
  }
}

.booking-form.show {
  display: block;
}

.booking-form__btn {
  width: 100%;
  padding: 16px;
  background: #81b3d2;
  color: #fff;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

.booking__label--date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  margin-bottom: 30px;
}

@media (max-width: 576px) {
  .booking__label--date {
    display: block;
    text-align: left;
  }
}

.booking__label--date input {
  max-width: 346px;
  width: 100%;
  padding: 6px 12px;
  background: #f2f2f2;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  min-height: 38px;
  margin-left: 20px;
}

@media (max-width: 576px) {
  .booking__label--date input {
    margin-top: 10px;
    max-width: 100%;
    margin-left: 0;
  }
}

.booking-label__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 54px;
}

@media (max-width: 576px) {
  .booking-label__wrapper {
    display: block;
  }
}

.booking-label__wrapper > * {
  width: 50%;
}

@media (max-width: 576px) {
  .booking-label__wrapper > * {
    width: 100%;
  }
}

.booking__label--type {
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 576px) {
  .booking__label--type {
    margin-bottom: 10px;
  }
}

.booking__label--type .label-text {
  display: block;
}

.booking__label--type .label-text--adult {
  margin-right: 40px;
}

@media (max-width: 576px) {
  .booking__label--type .label-text--adult {
    margin-right: auto;
  }
}

.booking__label--type .label-text--child {
  margin-right: 20px;
  margin-left: auto;
}

@media (max-width: 576px) {
  .booking__label--type .label-text--child {
    margin-right: auto;
    margin-left: 0;
  }
}

.booking__label--type .form-group {
  max-width: 114px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.booking__label--type .form-group > * {
  width: calc(100% / 3);
  min-height: 38px;
  background: #f2f2f2;
}

.booking__label--type .form-group .plus,
.booking__label--type .form-group .minus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.booking__label--type .form-group input {
  text-align: center;
}

.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 30px;
}

@media (max-width: 566px) {
  .sort {
    display: block;
  }
}

.sort-result__head {
  margin-right: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 566px) {
  .sort-result__head {
    padding-bottom: 15px;
  }
}

.sort-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  line-height: 18px;
  width: 100%;
}

.sort-list__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

@media (max-width: 432px) {
  .sort-list__wrapper {
    display: block;
  }
}

.sort-list__head {
  font-size: 12px;
  line-height: 18px;
  margin-right: 40px;
}

.sort-list__item:not(:last-child) {
  margin-right: 30px;
  color: rgba(0, 0, 0, 0.3);
}

.sort-list__item--dir {
  margin-left: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 12px;
          column-gap: 12px;
}

.sort-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sort-list__link--current {
  color: #81b3d2;
}

.result {
  border-top: 1px solid #e5e5e5;
}

.result__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 23.5px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e5e5e5;
}

@media (max-width: 460px) {
  .result__item {
    display: block;
  }
}

.result-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 460px) {
  .result-info {
    margin-bottom: 10px;
  }
}

.result-info__wrapper {
  margin-left: 30px;
}

@media (max-width: 460px) {
  .result-info__wrapper {
    margin-left: 15px;
  }
}

.result-info__head {
  padding-bottom: 7px;
  font-size: 21px;
  font-weight: 700;
}

@media (max-width: 566px) {
  .result-info__head {
    font-size: 18px;
  }
}

.result-info__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 18.5px;
}

@media (max-width: 460px) {
  .result-info__inner {
    font-size: 12px;
  }
}

.result-info__text {
  width: 110px;
  text-align: left;
}

@media (max-width: 460px) {
  .result-info__text {
    width: 90px;
  }
}

@media (max-width: 526px) {
  .result-info__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.result-info__link {
  color: #fff;
  font-weight: 700;
  padding: 3px 16px;
}

.result-info__link--blue {
  background: #81b3d2;
  margin-right: 6px;
}

@media (max-width: 526px) {
  .result-info__link--blue {
    margin-right: 0;
    margin-bottom: 10px;
    max-width: 110px;
  }
}

.result-info__link--brown {
  background: #766357;
}

@media (max-width: 526px) {
  .result-info__link--brown {
    max-width: 142px;
  }
}

@media (max-width: 460px) {
  .result-ratio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.result-ratio__text {
  background: #f2f2f2;
  padding: 3px 12px 3px 15px;
}
/*# sourceMappingURL=main.css.map */