.booking {
	text-align: center;
	padding-top: 58px;
	&__inner {
		position: relative;
		max-width: 568px;
		margin: auto;
		width: 100%;
		overflow: hidden;
	}
	&__head {
		margin-bottom: 25px;
	}
	&__text {
		margin: auto;
		max-width: 435px;
		width: 100%;
		margin-bottom: 25px;
	}
	&__btn {
		display: block;
		margin: auto;
		max-width: 568px;
		padding: 30px;
		background: #766357;
		color: #fff;
		font-size: 21px;
		line-height: 26px;
		font-weight: 700;
		cursor: pointer;
	}

	&-form {
		position: absolute;
		top: 195px;
		left: 0;
		max-width: 568px;
		width: 100%;
		margin: auto;
		padding: 55px;
		background-color: #fff;
		box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
		z-index: 10;
		display: none;
		@media (max-width: 576px) {
			padding: 25px;
		}
		&.show {
			display: block;
		}
		&__btn {
			width: 100%;
			padding: 16px;
			background: #81b3d2;
			color: #fff;
			font-size: 21px;
			line-height: 26px;
			font-weight: 700;
			text-transform: uppercase;
		}
	}

	&__label--date {
		display: flex;
		align-items: center;
		font-weight: 700;
		margin-bottom: 30px;
		@media (max-width: 576px) {
			display: block;
			text-align: left;
		}

		input {
			max-width: 346px;
			width: 100%;
			padding: 6px 12px;
			background: #f2f2f2;
			font-weight: 700;
			text-transform: uppercase;
			font-size: 14px;
			min-height: 38px;
			margin-left: 20px;
			@media (max-width: 576px) {
				margin-top: 10px;
				max-width: 100%;
				margin-left: 0;
			}
		}
	}
	&-label__wrapper {
		display: flex;
		width: 100%;
		margin-bottom: 54px;
		@media (max-width: 576px) {
			display: block;
		}
		& > * {
			width: 50%;
			@media (max-width: 576px) {
				width: 100%;
			}
		}
	}
	&__label--type {
		font-weight: 700;
		display: flex;
		align-items: center;
		@media (max-width: 576px) {
			margin-bottom: 10px;
		}
		.label-text {
			display: block;
			&--adult {
				margin-right: 40px;
				@media (max-width: 576px) {
					margin-right: auto;
				}
			}
			&--child {
				margin-right: 20px;
				margin-left: auto;
				@media (max-width: 576px) {
					margin-right: auto;
					margin-left: 0;
				}
			}
		}
		.form-group {
			max-width: 114px;
			display: flex;
			& > * {
				width: calc(100% / 3);
				min-height: 38px;
				background: #f2f2f2;
			}
			.plus,
			.minus {
				display: flex;
				justify-content: center;
				align-items: center;
			}

			input {
				text-align: center;
			}
		}
	}
}
