.features {
	text-align: center;
	padding-top: 42px;
	&__head {
		font-size: 21px;
		line-height: 26px;
		max-width: 470px;
		width: 100%;
		margin: auto;
		font-weight: 700;
		margin-bottom: 15px;
	}
	&__text {
		max-width: 519px;
		width: 100%;
		margin: auto;
		margin-bottom: 51px;
		line-height: 26px;
	}
	&-grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		@media (max-width: 768px) {
			display: block;
		}
	}
	&-block {
		padding-top: 50px;
		padding-bottom: 54px;
		&--blue {
			background: #81b3d2;
			color: #fff;
		}
		&__head {
			margin-bottom: 25px;
		}
		&__number {
			margin-bottom: 23px;
		}
		&__text {
			max-width: 300px;
			width: 100%;
			margin: auto;
		}
		&--icon {
			.features-block__text {
				margin-bottom: 80px;
			}
		}
		&--grey {
			background: #eeeeee;
		}
	}

	&-image {
		height: 100%;
		object-fit: cover;
		@media (max-width: 768px) {
			height: auto;
			object-fit: unset;
		}

		&--right {
			grid-column: 2/4;
		}
		&--left {
			grid-column: 1/3;
		}
	}
}
