// Mobile First
.footer {
	background-color: rgba(255, 255, 255, 0.9);
	padding-top: 23px;
	padding-bottom: 36px;
	&-index {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 10;

		width: 100%;
		padding-top: 23px;
		padding-bottom: 36px;
	}
	&-grid {
		@media (min-width: 768px) {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-content: center;
		}
	}
	&-contacts {
		// display: flex;
		// flex-direction: column;
		// align-items: center;
		font-size: 21px;
		line-height: 26px;
		text-align: center;
		margin-bottom: 20px;
		@media (min-width: 768px) {
			margin-bottom: 0;
		}
		&__link {
			display: block;
			font-weight: 700;
			&:nth-child(1) {
				margin-bottom: 10px;
			}
		}
	}
}

.social {
	display: flex;
	max-width: 150px;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	margin: auto;
	margin-bottom: 20px;
	@media (min-width: 768px) {
		margin: 0;
	}
	&__link {
		background: #81b3d2;
		width: 46px;
		height: 48px;
		display: flex;
		align-items: center;
		justify-content: center;
		&:hover,
		&:focus {
			background: #669ec0;
			transition: $transition;
		}
		&:active {
			background: #5496bd;
		}
		&:active path {
			opacity: 0.3;
			transition: $transition;
		}
	}
}

.copyright {
	margin: auto;
	font-size: 14px;
	text-transform: uppercase;
	display: flex;
	justify-content: space-between;
	align-items: center;
	@media (min-width: 768px) {
		margin: 0;
	}
	&__image {
		margin-left: 8px;
	}
}
