/// SIZES
$container-width: 1056px;
$font-size: 14px;
$line-height: 21px;

/// BREAKPOINTS
$xs: 320px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

/// FONT-FAMILY
$family: "PT Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
	"Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
	"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

/// COLOR PALETTES
$primary-color: #000000;

$transition: all 0.3s ease;
